*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*ENCABEZADO*/
header{
    background-color: yellow;
}

.contenedor-menu{
    max-width: 300px;
    padding: 30px;
}

.logo{
    display: flex;
}

.logo img{
    width: 150px;
    height: 60px;
}

.logo h1{
    font-size: 45px;
    color: #0B0C10;
}

/*CUERPO*/
main{
    background-color: orange;
    display: flex;
    align-items: center;
}

/*SECCION 1*/

.seccion-1{
    background-color: red;
    flex: 0.7;
    width: 300px;
    height: 1200px;


}

/*SECCION 2*/
.seccion-2{
    background-color: aqua;
    flex: 0.2;

}

/*FOOTER*/
footer{
    background-color: #0B0C10;
}

footer .contenedor-redes{
    display: flex;
    justify-content: center;
}

.contenedor-redes a{
    text-decoration: none;
    padding: 5px;
    background-color: #C5C6C7;
    margin: 10px;
    border-radius: 100%;
    margin-top: 50px;
}

.contenedor-redes a i{
    font-size: 25px;
    color: #0B0C10;
    opacity: 0.9;
}

.contenedor-redes a:hover{
    background-color: #0B0C10;
    transition: 0.5;
}

.contenedor-redes a:hover i{
    color: #C5C6C7;
}

.footer-copyright{
    padding: 20px;
    text-align: center;
    color: #C5C6C7;
}


